@{
  Layout = "_Layout";
}

<!--
  !--Original text (from template file) [in case it turns out that I do actually need to have replaced 'restaurant' and 'Restaurants' with 'client' and 'Client', respectively] --
<h1>Your list has been cleared</h1>
<p> <a href="/restaurants">Back to Restaurant List</a></p>
-->

<h1>Your list has been cleared</h1>
<p> <a href="/stylists">Back to Stylists</a></p> 